# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.venv
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Data files
*.csv
*.xlsx

# Model files
*.pkl
*.h5

# Pipenv
Pipfile.lockmlruns/
mlruns/
