[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
xgboost = "*"
torch = "*"
matplotlib = "*"
seaborn = "*"
mlflow = "*"
statsmodels = "*"
optuna = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
